bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
*.db
*.db-shm
*.db-wal
*.pdb
# appsettings.Development.json
appsettings.Production.json
appsettings.Staging.json
appsettings.Local.json
secrets.json
pgdata